.contact {
  padding: 80px 20px;
  background: #f9f9f9;
  text-align: center;
}

.contact-container {
  max-width: 700px;
  margin: auto;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #222;
  font-family: Manti, sans-serif;
}

.contact-subtitle {
  font-size: 1.7rem;
  font-family: Arial, sans-serif;
  margin-bottom: 40px;
  color: #555;
}
.contact-info {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid #ddd;
}

.contact-info h3 {
    font-size: 1.5rem;
    font-family: 'Manti', sans-serif;
  margin-bottom: 15px;
  color: #222;
}

.contact-info p {
  font-size: 1rem;
    font-family: 'Arial', sans-serif;
  color: #555;
  margin: 8px 0;
}

.contact-info a {
    font-family: 'Arial', sans-serif;
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color:#112240;
}

/* BUTTON */
.contact-form button {
  padding: 14px;
  background:#112240;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #112240;
}