*, *::before, *::after {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  background: #06111d;
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px 15px 40px;
}

.logo {
  text-decoration: none;
  font-size: 44px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'DrunkWide', sans-serif;
}

.nav-links {
  display: flex;
  gap: 25px;
  font-family: Altex, sans-serif;

  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: calc(100vw - 180px);
  scrollbar-width: none;
}

.nav-links::-webkit-scrollbar {
  display: none;
}

.nav-links a {
  text-decoration: none;
  color: #a7c3da;
  font-weight: 800;
  position: relative;
}

/* underline animation */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: rgb(34, 3, 110);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active::after {
  width: 100%;
}